@font-face {
  font-family: "b nazanin";
  src: url("?view"),
    url("http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.eot?view#iefix")
      format("embedded-opentype"),
    url("http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.woff?view")
      format("woff"),
    url("http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.ttf?view")
      format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
/*---------------------- header---------------------- */

.navbar {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.login {
  border: 3px black solid;
  border-radius: 5px;
  padding: 10px;
  margin-left: 15px;
}
.login span {
  cursor: pointer;
}
.login i {
  margin-left: 15px;
}
.home {
  margin-right: 30px;
  cursor: pointer;
  flex-wrap: wrap;
}
.home i {
  margin: 20px;
}
.home i:hover {
  color:red;
}
.login span:hover{
  color: red;
}
/*---------------- main---------------- */
.headphone{
  text-align: right;
  /* display: flex; */
  /* flex-wrap: wrap; */
}


.para{
  display: inline-block;
  /* font-family: b-nazanin; */
  border-bottom: 2px red solid;
  margin-right: 60px;
  padding-top: 20px;
  font-size: 1.4rem;
}
.head{
  display: flex;
  justify-content: center;
  /* margin: 25px; */
  flex-wrap: wrap;
  width: 100%;
}
.card{
  background-color:white;
 height: 400px;
  width: 300px;
  margin: 20px;
  box-shadow: 0px 0px 7px 0px black;
  /* display: flex; */
  /* flex-wrap: wrap; */
  
}
.carousel-inner img{
  height: 650px;
  /* width: 400px; */
}
.checked {
  color: orange;
  
}
.star{
  text-align: left;
  padding-left: 10px;
}
.box{
  background-color: tomato;
  display:inline-block;
  margin-left:80px;
  padding: 5px;
  margin-top: 10px;
  color: white;
}
.one{
  background-image: url("https://janebi.com/janebi/9fd2/files/294086_260x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.two{
  background-image: url("https://janebi.com/janebi/9fd2/files/284130_260x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.text{
  display: inline;
  padding-top: 260px;
  padding-right: 45px;
  text-align: right;
}

.icon span{
  display: none;
}
.icon i{
  transition: all 1.2s;
}
.icon i:hover{
  padding-right: 4rem;
  
}

.icon i{
  cursor: pointer;
  /* display: flex; */
  margin-left: 10px;
  background-color: rgb(37, 240, 37);
padding: 5px 10px;
border-radius: 20%;
float: left;
margin-top: 12px;
}



/*---------------- footer -----------------*/

.footer {
  background-color: #636c74;
  min-height: 270px;
  display: flex;
  justify-content:space-around;
  color: white;
  align-items: center;

}
.foot1 {
 width:30%;
  margin-bottom: 60px;
}
.foot2 {
  width: 60%;
}
.foot1 h3 {
    font-size: 1.5rem;
    /* margin: auto; */
    display: flex;
    justify-content: center;
  margin-bottom: 55px;
  margin-left: 140px;
  font-family: "b nazanin";
}
.foot1 i {
  font-size: 2.2rem;
  margin-left: 60px;
  cursor: pointer;
}
.foot1 i:hover {
  color: red;
}
.foot2 h3 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  font-family: "b nazanin";
}
.foot2 p {
  font-family: "b nazanin";
  font-size: 1.1rem;
}
@media only screen and (max-width: 1100px) {
  .foot1 h3 {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    margin: auto;
  }
  .foot1 i {
    font-size: 1.2rem;
  }
 
}
